img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.carousel {
    position: relative;
}

.arrows {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}

.image-description {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: rgba(107, 86, 86, 0.7);
}